<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Poller</title>
  <link rel="stylesheet" href="/normalize.css">
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <header class="header">
    <div class="wrapper">
      <h1 class="company">
        <a href="/">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" height=".75em" fill="currentColor">
            <rect width="4" height="5" x="1" y="10" rx="1" />
            <rect width="4" height="9" x="6" y="6" rx="1" />
            <rect width="4" height="14" x="11" y="1" rx="1" />
          </svg>
          Poller
        </a>
      </h1>
    </div>
  </header>
  <main class="wrapper">
